.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    display: block;
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .footer__column-link:nth-of-type(3n) {
    margin-bottom: 0;
  }

  .footer__column-link:hover {
    opacity: 0.6;
}